* { line-height: 1.5;

}

body {
    background-color: rgb(222,195,224);
    color: rgb(0,0,0); 
    font-size: 20px;  
    p.normal {
        font-weight: normal;
      } 
    margin: 0;

}
 
 .container {
    background-color: rgb(159, 77, 137);
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }

  .container a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

/* Change the color of links on hover */
  .container a:hover {
    background-color: rgb(255, 105, 180);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .container a.active {
    background-color: rgb(113,55,98);
    color: rgb(255, 105, 180);
  }


.nav {
    float: left;
}

.navigation-links {
    display: flex;
    justify-content: space-between;
}

h1, h2{
    color: rgb(126, 92, 129); 
    font-size: 40px;
}


h2{
    font-size: 25px;
}

li{
    a:hover {
        color: rgb(255, 105, 180);
      }
}

footer{
    background-color: rgb(159, 77, 137);
    color: rgb(40,42,55);
    font-size: 18px;
    text-align: center;
    
}
